Repository kakashi3lite/AI-News, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrNewsForge, @frontend-team, @backend-team, @mlops-team

chore(ci): add Playwright context-saving docs, tests, and workflow
  .github/workflows/playwright-e2e.yml
  .gitignore
  docs/testing/context-saving.md
  tests/e2e/auth.setup.ts
  tests/e2e/config/roles.ts
  tests/e2e/example.spec.ts
  tests/e2e/fixtures.ts
  tests/e2e/lib/auth.ts
  tests/e2e/lib/storage.ts
  tests/e2e/pages/DashboardPage.ts
  tests/e2e/pages/LoginPage.ts
  tests/e2e/role_example.spec.ts
  tests/e2e/test.config.ts
  tests/playwright.config.ts
Owners: @DrNewsForge

feat(ios): add AINewsKit Swift package and iOS context-saving docs
  docs/ios/context-saving.md
  ios/Package.swift
  ios/README.md
  ios/Sources/AINewsKit/Auth/AuthClient.swift
  ios/Sources/AINewsKit/Auth/AuthModels.swift
  ios/Sources/AINewsKit/Auth/TokenStore.swift
  ios/Sources/AINewsKit/Networking/APIClient.swift
  ios/Sources/AINewsKit/Networking/RequestBuilder.swift
  ios/Sources/AINewsKit/Support/Keychain.swift
Owners: @DrNewsForge

chore(ci): automate PR creation for context-saving branches
  .github/workflows/auto-pr.yml
Owners: @DrNewsForge

feat(ios): add environment-scoped token store with session metadata and migration hook
  ios/Sources/AINewsKit/Auth/AuthClient.swift
  ios/Sources/AINewsKit/Auth/EnvironmentScopedTokenStore.swift
  ios/Sources/AINewsKit/Auth/SessionMetadata.swift
Owners: @DrNewsForge

feat(e2e): add API-driven auth setup with env/role-scoped storage + metadata; prune stale .auth in CI; add /api/v1/auth/me stub
  .github/workflows/playwright-e2e.yml
  app/api/v1/auth/me/route.ts
  docs/testing/context-saving.md
  tests/e2e/auth.api.setup.ts
  tests/e2e/lib/sessionMeta.ts
  tests/playwright.config.ts
Owners: @DrNewsForge, @frontend-team

chore(ci): add auto-pr workflow to this branch and update docs for env-scoped sessions
  .github/workflows/auto-pr.yml
  docs/ios/context-saving.md
Owners: @DrNewsForge

chore(ci): extend auto-pr to env-scoped iOS and API-driven E2E branches
  .github/workflows/auto-pr.yml
Owners: @DrNewsForge

refactor(ios): improve robustness—CryptoKit import, deterministic claims hash, Keychain accessibility, async save in env-scoped store
  ios/Sources/AINewsKit/Auth/EnvironmentScopedTokenStore.swift
  ios/Sources/AINewsKit/Auth/SessionMetadata.swift
  ios/Sources/AINewsKit/Support/Keychain.swift
Owners: @DrNewsForge

docs(ios): add context saving checkpoints guide with lifecycle patterns and runbook
  docs/ios/context-checkpoints.md
Owners: @DrNewsForge

refactor(ios): improve robustness—CryptoKit import, deterministic claims hash, Keychain accessibility, async save in env-scoped store
  ios/Sources/AINewsKit/Auth/EnvironmentScopedTokenStore.swift
  ios/Sources/AINewsKit/Auth/SessionMetadata.swift
  ios/Sources/AINewsKit/Support/Keychain.swift
Owners: @DrNewsForge

feat(e2e): add API-driven auth setup with env/role-scoped storage + metadata; prune stale .auth in CI; add /api/v1/auth/me stub
  .github/workflows/playwright-e2e.yml
  app/api/v1/auth/me/route.ts
  docs/testing/context-saving.md
  tests/e2e/auth.api.setup.ts
  tests/e2e/lib/sessionMeta.ts
  tests/playwright.config.ts
Owners: @DrNewsForge, @frontend-team

feat(ios): add environment-scoped token store with session metadata and migration hook
  ios/Sources/AINewsKit/Auth/AuthClient.swift
  ios/Sources/AINewsKit/Auth/EnvironmentScopedTokenStore.swift
  ios/Sources/AINewsKit/Auth/SessionMetadata.swift
Owners: @DrNewsForge

docs(ios): add context saving checkpoints guide with lifecycle patterns and runbook
  docs/ios/context-checkpoints.md
Owners: @DrNewsForge

chore(ci): automate PR creation for context-saving branches
  .github/workflows/auto-pr.yml
Owners: @DrNewsForge

feat(ios): add AINewsKit Swift package and iOS context-saving docs
  docs/ios/context-saving.md
  ios/Package.swift
  ios/README.md
  ios/Sources/AINewsKit/Auth/AuthClient.swift
  ios/Sources/AINewsKit/Auth/AuthModels.swift
  ios/Sources/AINewsKit/Auth/TokenStore.swift
  ios/Sources/AINewsKit/Networking/APIClient.swift
  ios/Sources/AINewsKit/Networking/RequestBuilder.swift
  ios/Sources/AINewsKit/Support/Keychain.swift
Owners: @DrNewsForge

chore(ci): extend auto-pr to env-scoped iOS and API-driven E2E branches
  .github/workflows/auto-pr.yml
Owners: @DrNewsForge

chore(ci): add Playwright context-saving docs, tests, and workflow
  .github/workflows/playwright-e2e.yml
  .gitignore
  docs/testing/context-saving.md
  tests/e2e/auth.setup.ts
  tests/e2e/config/roles.ts
  tests/e2e/example.spec.ts
  tests/e2e/fixtures.ts
  tests/e2e/lib/auth.ts
  tests/e2e/lib/storage.ts
  tests/e2e/pages/DashboardPage.ts
  tests/e2e/pages/LoginPage.ts
  tests/e2e/role_example.spec.ts
  tests/e2e/test.config.ts
  tests/playwright.config.ts
Owners: @DrNewsForge

feat(ui): implement comprehensive UI/UX design system
  app/ThemeProvider.js
  app/layout.js
  app/page.js
  components/FeatureCard.js
  components/NewsCard.js
  components/TagChip.js
  components/ThemeToggle.js
  components/ui/button.js
  styles.css
  tailwind.config.js
Owners: @frontend-team, @DrNewsForge

feat(ui): implement comprehensive UI/UX design system
  app/ThemeProvider.js
  app/layout.js
  app/page.js
  components/FeatureCard.js
  components/NewsCard.js
  components/TagChip.js
  components/ThemeToggle.js
  components/ui/button.js
  styles.css
  tailwind.config.js
Owners: @frontend-team, @DrNewsForge

feat(agents): add Software Engineer Agent v1 configuration and prompt specification
  .github/instructions/agents.instructions.md
  .github/prompts/repo-context.md
  .github/prompts/software-engineer-agent.md
  AGENTS.md
  agents/README.md
  agents/config/swe_agent_config.yaml
Owners: @DrNewsForge, @mlops-team

feat(agents): add Software Engineer Agent v1 configuration and prompt specification
  .github/instructions/agents.instructions.md
  .github/prompts/repo-context.md
  .github/prompts/software-engineer-agent.md
  AGENTS.md
  agents/README.md
  agents/config/swe_agent_config.yaml
Owners: @DrNewsForge, @mlops-team

refactor: decompose monolithic files into focused modules following clean architecture
  analytics/keywordAnalyzer.js
  analytics/sentimentAnalyzer.js
  analytics/themeConfig.js
  analytics/themes.js
  analytics/trendDetector.js
  app/NewsDashboard.js
  app/components/CategoryTabs.js
  app/components/NewsFeed.js
  app/components/NewsSearchBar.js
  app/components/YouTubeSummarizer.js
  lib/errorHandler.js
  news/articleDeduplicator.js
  news/articleNormalizer.js
  news/contentPreprocessor.js
  news/feedParser.js
  news/ingest.js
  news/qualityAnalyzer.js
  news/sources.js
  news/summarizationConfig.js
  news/summarizer.js
  news/summaryGenerator.js
  news/topicClassifier.js
  tests/test_ingest.js
Owners: @DrNewsForge, @frontend-team, @backend-team

chore: add auto-generated TypeScript config and type dependencies
  next-env.d.ts
  package-lock.json
  package.json
  tsconfig.json
Owners: @DrNewsForge

refactor: decompose monolithic files into focused modules following clean architecture
  analytics/keywordAnalyzer.js
  analytics/sentimentAnalyzer.js
  analytics/themeConfig.js
  analytics/themes.js
  analytics/trendDetector.js
  app/NewsDashboard.js
  app/components/CategoryTabs.js
  app/components/NewsFeed.js
  app/components/NewsSearchBar.js
  app/components/YouTubeSummarizer.js
  lib/errorHandler.js
  news/articleDeduplicator.js
  news/articleNormalizer.js
  news/contentPreprocessor.js
  news/feedParser.js
  news/ingest.js
  news/qualityAnalyzer.js
  news/sources.js
  news/summarizationConfig.js
  news/summarizer.js
  news/summaryGenerator.js
  news/topicClassifier.js
  tests/test_ingest.js
Owners: @DrNewsForge, @frontend-team, @backend-team

chore: add auto-generated TypeScript config and type dependencies
  next-env.d.ts
  package-lock.json
  package.json
  tsconfig.json
Owners: @DrNewsForge

chore: ignore embedded AI-News repo; preserve old lineage as legacy/ai-news
  .gitignore
Owners: @DrNewsForge

docs: add live deployment status and refresh instructions
  NEXT_STEPS.md
  PROJECT_STATUS.md
Owners: @DrNewsForge

feat: impact+verification engine, auto-follow interests, daily news crossword, email digest, Cloudflare D1 package, competitor watchlist seed
  app/MarketDashboard.js
  app/api/cron/digest/route.js
  app/api/crossword/route.js
  app/layout.js
  components/market/CompanyCard.js
  components/market/CrosswordView.jsx
  components/market/ForYouView.jsx
  components/market/SignalCard.js
  components/market/SignalView.js
  components/market/ThemeCluster.js
  components/market/badges.js
  contexts/UserContext.jsx
  docs/DEPLOY_CLOUDFLARE.md
  lib/client/userStore.js
  lib/clientData.js
  lib/crossword.js
  lib/email.js
  lib/impact.js
  lib/signal.js
  lib/utils.js
  lib/watchlist.js
  package-lock.json
  package.json
  prisma/d1-migration.sql
  public/data/crossword.json
  public/data/digest.json
  public/data/meta.json
  public/data/news.json
  public/data/themes.json
  public/data/watchlist.json
  scripts/generate-static-data.mjs
  scripts/maintenance.mjs
  tests/unit/crossword.test.mjs
  tests/unit/impact.test.mjs
  vercel.json
  wrangler.toml
Owners: @frontend-team, @DrNewsForge

docs: update roadmap + status for v2 (impact, auto-follow, crossword, ops)
  NEXT_STEPS.md
Owners: @DrNewsForge

deploy: Today briefing home, streak, onboarding, trust strip
  app/MarketDashboard.js
  app/api/crossword/route.js
  app/api/digest/route.js
  app/api/meta/route.js
  app/api/news/route.js
  app/api/themes/route.js
  app/api/watchlist/route.js
  components/market/CrosswordView.jsx
  components/market/Onboarding.jsx
  components/market/TodayView.jsx
  contexts/UserContext.jsx
  lib/client/userStore.js
  lib/clientData.js
  public/data/crossword.json
  public/data/digest.json
  public/data/meta.json
  public/data/news.json
  public/data/themes.json
  public/data/watchlist.json
  tests/unit/streak.test.mjs
Owners: @frontend-team, @backend-team, @DrNewsForge

docs: note that next build wipes out/ (init fresh git for gh-pages)
  README.md
Owners: @DrNewsForge

feat: Cloudflare D1 live (schema+seed applied), digest preview mode + SMTP env, README rewrite with screenshots
  .env.example
  .gitignore
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/1862188dd95490e996d20019b42a2816a9036d39787af7bc452eeb13a9e5f23b.sqlite
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/1862188dd95490e996d20019b42a2816a9036d39787af7bc452eeb13a9e5f23b.sqlite-shm
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/1862188dd95490e996d20019b42a2816a9036d39787af7bc452eeb13a9e5f23b.sqlite-wal
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/metadata.sqlite
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/metadata.sqlite-shm
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/metadata.sqlite-wal
  README.md
  lib/email.js
  prisma/d1-seed.sql
  public/screenshots/crossword.png
  public/screenshots/foryou.png
  public/screenshots/signal.png
  public/screenshots/today.png
  public/screenshots/watchlist.png
  scripts/preview-digest.mjs
  wrangler.toml
Owners: @DrNewsForge

deploy: README screenshots, digest preview, D1-ready build
  ._.git
  .nojekyll
  404.html
  404/index.html
  _next/static/QKbqlnTYmF6RFbaFT4MeK/_buildManifest.js
  _next/static/QKbqlnTYmF6RFbaFT4MeK/_ssgManifest.js
  _next/static/chunks/23-acb737a879b8bc59.js
  _next/static/chunks/439-0ee28ef33534d7c7.js
  _next/static/chunks/app/_not-found/page-31f0ce811376ae65.js
  _next/static/chunks/app/dashboard/page-db448fecad8d05c8.js
  _next/static/chunks/app/layout-4143f8f895597fd0.js
  _next/static/chunks/app/page-3df6b0ec1b5b545f.js
  _next/static/chunks/fd9d1056-1672cc99fbb811be.js
  _next/static/chunks/framework-aec844d2ccbe7592.js
  _next/static/chunks/main-4a95b753d3c7c2c5.js
  _next/static/chunks/main-app-3dd0452309e58b1c.js
  _next/static/chunks/pages/_app-6a626577ffa902a4.js
  _next/static/chunks/pages/_error-1be831200e60c5c0.js
  _next/static/chunks/polyfills-78c92fac7aa8fdd8.js
  _next/static/chunks/webpack-fa9ac2451e6c68be.js
  _next/static/css/2a9c2e2e05750531.css
  dashboard/index.html
  dashboard/index.txt
  data/crossword.json
  data/digest.json
  data/meta.json
  data/news.json
  data/themes.json
  data/watchlist.json
  index.html
  index.txt
  screenshots/crossword.png
  screenshots/foryou.png
  screenshots/signal.png
  screenshots/today.png
  screenshots/watchlist.png
Owners: @DrNewsForge, @frontend-team

.github/CODEOWNERS:

*       @DrNewsForge
app/    @frontend-team
components/ @frontend-team
news/   @backend-team
agents/ @mlops-team
mlops/  @mlops-team
